package {
    // Array of paths. Looks for any .java files in the directory recursively
    source_dir "src"
    default_repo "https://..." // Optional. The default repo is maven
    javac_args "args" // Optional. Extra args for javac
    resources "resources" // Optional. Extra files to put into the jar
}

// Optional. Extra jars to include that arent in repos
//extra {
//    net.minecraft:client "https://..." 
//}

dependencies {
    net.fabricmc.fabric-api:fabric-api "0.131.2+1.21.9"
}

repos {
    // if it cant find this in the specified repo it will try the default repo
    net.fabricmc.fabric-api:fabric-api = "https://maven.fabricmc.net"
}

plugins {
    test {
        url "url to lua file"
        config {
            // Config for plugin
        }
    }

    // Example mc plugin config
    mc {
        url "https://raw.githubusercontent.com/ZakChrom/jice/refs/heads/master/mc.lua"
        config {
            map "https://maven.fabricmc.net/net/fabricmc/yarn/1.21.11%2Bbuild.4/yarn-1.21.11%2Bbuild.4.jar"
            intermediary "https://maven.fabricmc.net/net/fabricmc/intermediary/1.21.11/intermediary-1.21.11.jar"
            mapped {
                "https://maven.fabricmc.net/"
                "https://libraries.minecraft.net/"
            }
        }
    }
}

// Optional. You can specify variants in the cli with --variant VARIANT or -v VARIANT
// The config will be applied on top of the main config if the variant matches
// If a field is an array they are appended to
variants {
    "VARIANT" {
        // Same config as before
    }
}