package {
    source_dir "src"
}

dependencies {
    net.fabricmc.fabric-api:fabric-api "0.131.2+1.21.9"
    net.fabricmc:fabric-loader "0.16.14"
}

repos {
    net.fabricmc.fabric-api:fabric-api "https://maven.fabricmc.net"
    net.fabricmc:fabric-loader "https://maven.fabricmc.net"
}

plugins {
    mc {
        url "mc.lua"
        config {
            map "https://maven.fabricmc.net/net/fabricmc/yarn/1.21.8%2Bbuild.1/yarn-1.21.8%2Bbuild.1.jar"
            intermediary "https://maven.fabricmc.net/net/fabricmc/intermediary/1.21.8/intermediary-1.21.8-v2.jar"
            mapped {
                "https://maven.fabricmc.net/"
                "https://libraries.minecraft.net/"
            }
        }
    }
}